body {
  background-color: #363645;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  margin: 0 20%;
}

footer {
  font-size: 12px;
  margin-top: 100px;
  padding: 30px 0;
}

h1 {
  font-size: 2em;
  font-weight: 800;
}

p {
  margin: 5px 0;
}

.content-wrapper {
  width: auto;
}

.section-wrapper {
  margin-top: 100px;
}

.logo-wrapper {
  margin-bottom: 5%;
  height: 200px;
}
  .logo-wrapper img {
    height: 100%;
  }

.main-text {
  font-size: 2.5em;
}

.cards-list {
  list-style-type: none;
  padding: 0;
}

.card {
  margin: 50px 0;
  padding: 0;
}

.card .card-header {
  margin: 12px 0;
}

.card .card-body {
  margin: 12px 0;
}

.icons-wrapper {
  height: 20px;
  margin: 20px 0;
}

.octoicon {
  background-image: url(./assets/img/octo_icon.svg);
  background-position: center;
  position: absolute;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
